
header {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
  }
  
  
  
  body, header {
    
    margin: 0; /* Ensure no default margin */
    padding: 0; /* Ensure no default padding */
    
    width: 100%;
    height: 100%;
  
  }
  
  a:link {
      text-decoration: none;
      color: white;
  }
  
  
  
  a:hover {
      text-decoration: none;
      
  }
  a:visited{
    color: white;
    text-decoration: none;
  }
  
  
  
  a { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
    cursor: pointer;
  }
  
  main{
      background-image: url('Snapinsta.app_437073929_18401237263068675_3839619669892566645_n_1080.jpg');
      background-size: cover; /* This makes the image cover the entire background */
      background-repeat: no-repeat; /* This prevents the image from repeating */
      background-attachment:local; /* This makes the background image fixed, so it doesn't scroll with the page */
      background-position: center; /* This centers the background image */
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
  }
  
  
  
  
  .container {
    background-color: white;
    padding: 20px;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #ccc; /* Add this line for the border */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin-left: 100px;
    margin-top: 70px;
  }
  
  
  
  
  h1 {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
  }
  
  .form-container {
      margin-top: 20px;
  }
  
  .tabs {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  }
  
  .tab {
      flex: 1;
      text-align: center;
      padding: 10px;
      cursor: pointer;
     
      border-bottom: 2px solid transparent;
     
  }
  
  .tab.active {
        font-weight: bold;
      border-bottom: 2px solid black;
  }
  
  
  .input-group{
      
      margin-bottom: 20px;
      position: relative;
  }
  
  label {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
      display: block;
      margin-bottom: 5px;
      color:black;
  }
  
  input[type="date"],
  input[type="tel"],
  .nameText,
  input[type="email"],
  input[type="password"] {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
      width: 400px;
      padding: 10px;
      margin: 5px 0;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 0px;
  }
  
  .form{
      width: 500px;
      margin: 0 auto;
   
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background:white;
    }
    .form-item{
      position: relative;
      margin-bottom: 15px
    }
    .form-item input{
      display: block;
   
      width: 400px;
      height: 40px;
      background: transparent;
      border: solid 1px black;
      transition: all .3s ease;
      padding: 0 15px
    }
    .form-item input:focus{
      border-color: blue
    }
    .form-item label{
      position: absolute;
      cursor: text;
      z-index: 2;
      top: 13px;
      left: 10px;
      font-size: 12px;
      font-weight: bold;
      background: #fff;
      padding: 0 10px;
      color: #999;
      transition: all .3s ease;
    }
    .form-item input:focus + label,
    .form-item input:valid + label{
      font-size: 11px;
      top: -5px;
   
  
    }
    .form-item input:focus + label{
      color: blueviolet;
   
    }
  .show-password {
      padding-bottom: 30px;
    
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 1px;
      color: black;
  }
  .forgot-password {
    display: block;
    text-align: right;
    margin-bottom: 20px;
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
    
    .checkBoxInfo {
      display: flex;
      justify-content:flex-start;
      margin-left: 10px; /* Add space between label and checkboxes */
      margin-top:20px;
    }
    #maleLab{
      margin-right: 100px;
    }
    .checkBox {
      /* Hide the default checkbox */
      display: none;
    }
    
    /* Style the custom checkbox */
    .checkBox + label:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 20px; /* Set the width and height of the checkbox */
      height: 20px;
      background-color: #fff;
      border: 2px solid #333; /* Border color */
      margin-right: 5px; /* Space between checkbox and label */
    }
    
    /* Style the custom checkbox when it's checked */
    .checkBox:checked + label:before {
      background-color:black;
    }
    
    /* Hide the default checkbox and use a custom style */
    .checkBox:checked + label:after {
      content: ""; /* Checkmark symbol */
      
      color: #fff; /* Color of the checkmark */
      font-size: 12px; /* Size of the checkmark */
     
    }
    
    /* Style the label text */
    .label-text {
      font-size: 16px;
    }
    
  
  /* CSS */
  .login-button {
      width: 400px;
     
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
   
    box-shadow: #fff 3px 3px 0 0,#000 3px 3px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: left;
    padding-left: 20px;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .login-button:focus {
    text-decoration: none;
  }
  
  .login-button:hover {
    text-decoration: none;
  }
  
  .login-button:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .login-button:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  
  /* WebKit Browsers */
  .container::-webkit-scrollbar {
    width: 6px;
   
  }
  
  .container::-webkit-scrollbar-track {
    background:white;
    border-radius: 3px;
  }
  
  .container::-webkit-scrollbar-thumb {
    background:black;
  
    border-radius: 3px;
  }
  
  .container::-webkit-scrollbar-thumb:hover {
    background: #333;
  }
  
  .checkbox-wrapper-30 {
    height: 37px;
    
  }
  
  .checkbox-wrapper-30 .checkbox {
    
    --bg: transparent;
    border: 4px;
    --brdr: rgba(0, 0, 0, 1);
    --brdr-actv: #8f44fd;
    --brdr-hovr: #333;
    --dur: calc((var(--size, 2) / 2) * 0.6s);
    display: inline-block;
    width: 23px; /* Set the width and height of the checkbox */
      height: 23px;
      border: 1px solid #333; /* Border color */
    position: relative;
  }
  .checkbox-wrapper-30 .checkbox:after {
    content: "";
    width: 100%;
    padding-top: 100%;
    display: block;
    
  }
  .checkbox-wrapper-30 .checkbox > * {
    position: absolute;
  }
  .checkbox-wrapper-30 .checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    background-color: var(--bg);
    border-radius: 0px;
    border: calc(var(--newBrdr, var(--size, 1.4)) * 1px) solid;
    color: var(--newBrdrClr, var(--brdr));
    outline: none;
    margin: 0;
    padding: 0;
    transition: all calc(var(--dur) / 3) linear;
    
  }
  .checkbox-wrapper-30 .checkbox input:hover,
  .checkbox-wrapper-30 .checkbox input:checked {
    --newBrdr: calc(var(--size, 1) * 2);
    
  }
  .checkbox-wrapper-30 .checkbox input:hover {
    --newBrdrClr: var(--brdr-hovr);
  }
  .checkbox-wrapper-30 .checkbox input:checked {
    --newBrdrClr: black;/*--border li bi dawe!*/
    
    transition-delay: calc(var(--dur) / 1.3);
  }
  .checkbox-wrapper-30 .checkbox input:checked + svg {
    --dashArray: 16 93;
    --dashOffset: 109;
    
  }
  .checkbox-wrapper-30 .checkbox svg {
    --stroke: black; /* Set the stroke color to black */
    fill: none;
    left: 0;
    pointer-events: none;
    stroke: var(--stroke);
    stroke-dasharray: var(--dashArray, 93);
    stroke-dashoffset: var(--dashOffset, 94);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    top: 0;
    transition: stroke-dasharray var(--dur), stroke-dashoffset var(--dur);
  }
  
  
  
  .checkbox-wrapper-30 .checkbox svg,
  .checkbox-wrapper-30 .checkbox input {
    display: block;
    height: 100%;
    width: 100%;
  }
  
/* Style the dropdown */
.dropdown {
    display: flex;
    align-items: center;
    }
    :root {
    --color-primary:white;
    --dropdown-color:white;
    
    }
    
    ul {
    margin: 0;
    padding: 0;
    list-style: none;
    }
    
    
    
    
.menu {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 70px;
    }
    
    #darkOverlay-dropdown {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4); /* Darken effect */
        z-index: 20; /* Ensures it’s on top of other elements */
        pointer-events: none; /* Allows clicks to pass through */
        transition: opacity 0.5s ease; /* Smooth transition for opacity */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* Shadow effect */
    }
    #darkOverlay-dropdown.active {
      visibility: visible; /* Make it visible */
      opacity: 1; /* Fade in */
    
      transition: opacity 0.5s ease, visibility 0s linear 0s; /* Transition in */
    }
    
    
    
    
    
    .menu li:hover .submenu {
    height: 200px;
    background-color:var(--dropdown-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    
    }
    
    .menu > li:hover > a {
    color: black;/*For hover on women*/
    }
    
    .menu > li:hover > a::before {
    visibility: visible;
    scale: 1 1;
    }
    
    .submenu {
    overflow: hidden;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    background-color: var(--color-primary);
    height: 0px;
    line-height: 40px;
    box-sizing: border-box;
    transition: height 0.3s ease-in-out;
    z-index: 6;
    }
    
    
    
    .menu > li a {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 16px;
    text-decoration: none;
    position: relative;
    height: 100%;
    transition: 0.3s;
    }
    
    .menu > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 3px;
    left: 0px;
    background-color: black;
    transition: all 0.2s ease-in-out;
    scale: 0 0;
    visibility: hidden;
    }
    .dropdown-content{
      min-width:1100px;
      display: flex;
      justify-content: space-evenly;
      text-align:left;
      justify-content: space-between;
      background-color: white;
      height: 100%;
    }
    .drop-header{
    min-height:40px ;
    font-size: 14.5px;
    padding-top: 10px;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
          font-weight: bold;
          letter-spacing: 1.2px;
    }
    .header-link{
      line-height: 0;
      padding-top: 4px;
    }
    .categories-div{
      min-width:200px;
    }
    .drop-body{
      min-height: 127px;
      font-size: 13px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      letter-spacing: 1px;
    }
    .drop-body-p{
      cursor: pointer;
      width: 20px;
      line-height: 13px;
      color: #212529;
      text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease;
     
    
    }
    .drop-body-p:hover{
     transform: scale(1.05);
     color: #000;
     margin-left: -4.5px;
     
    }  
    
.page-wrapper {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 450ms;
    z-index: 100;
    display: flex;
    justify-content: flex-start; /* Aligns content to the left when sidebar slides in */
    }
    
    .page-content {
    text-align: center;
    transition: 450ms;
    background-color: honeydew;
    }
    
    .sidebar {
    width: 400px;
    position: fixed;
    top: 0;
    bottom: 0;
    
    background-color: white;
    color: black;
    transition: 450ms;
    }
    
    .sidebar.menu-1 {
    right: -400px; /* Initially hidden on the right */
    left: auto; /* Ensure it's not affected by left positioning */
    }
    
    .menu-toggle.menu-1-toggle {
    right: 25px; /* Position the toggle on the right */
    left: auto; /* Ensure it's not affected by left positioning */
    border-color: black;
    color: black;
    }
    
    .menu-toggle .menu-label {
    display: block;
    
    }
    
    .menu-toggle .close-label {
    display: none;
    color: black;
    padding-right: 20px;
    }
    
    #menu1Toggle {
    display: none;
    
    }
    
    #menu1Toggle:checked ~ .page-wrapper .sidebar.menu-1 {
    right: 0; /* Slide the sidebar in from the right */
    box-shadow: 0 0 15px #000;
    }
    
    #menu1Toggle:checked ~ .page-wrapper .menu-toggle.menu-1-toggle {
    right: 215px; /* Move the toggle to the right when the sidebar is open */
    left: auto; /* Ensure it's not affected by left positioning */
    }
    
    #menu1Toggle:checked ~ .page-wrapper .menu-toggle.menu-1-toggle .menu-label {
    display: none;
    
    }
    
    #menu1Toggle:checked ~ .page-wrapper .menu-toggle.menu-1-toggle .close-label {
    display: block;
    
    }
    .favorites-container{
    height: 100%;
    }
    #no-favorites-message {
    position: absolute; /* Absolute positioning to center the message */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust the position to be truly centered */
    font-size: 14px; /* Adjust as needed */
    color: #555; /* Adjust as needed */
    text-align: center; /* Center text inside the message */
    display: flex;justify-content: center;text-align: center;vertical-align: middle;
    }
    .product-favorite-card{
    min-width: 400px;
    min-height: 200px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    
    }
    .product-img img{
    max-width: 200px;
    max-height: 200px;
    object-fit: scale-down;
    
    }
    .product-desc{
    
    min-height: 200px;
    min-width: 200px;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    
    }
    .remove-btn-div{
    min-width: 150px;
    max-height: 30px;
    padding-bottom: 5px;
    display: flex;
    justify-content:flex-end;
    }
    
    
    .product-info h2 {
    margin: 10px 0;
    font-size: 1.2em;
    }
    
    .product-info p {
    margin: 5px 0;
    color: #555;
    }
    #darkOverlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Adjust opacity (0.5 is 50%) */
    z-index: 3; /* Ensures it’s on top of other elements */
    pointer-events: none; /* Allows clicks to pass through */
    }
    
    .trash{
    background-color: white;
    border-radius: 400px;
    padding:5px 7px;
    border: none;
    opacity: 0;
    visibility: hidden;
    border: 1px solid transparent; /* Set initial border to transparent */
    padding-right: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    
    }
    .trash:hover{
    
    transform: scale(1.2);
    }
    .product-favorite-card:hover .trash {
    opacity: 1;
    visibility: visible;
    
    }
    .add-to-cart-div{
      width: 100%;
      min-height: 25px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
     position: absolute;
     bottom: 0; /* Align the child div to the bottom of the parent */
     left: 0; /* Optional, align to the left of the parent */
      
    }
    .Cart{
      background-color: transparent;
      border-radius: 400px;
      padding:5px 7px;
      border: none;
      opacity: 0;
      visibility: hidden;
      border: 1px solid transparent; /* Set initial border to transparent */
    padding-right: 8px;
      transition: all 0.3s ease-in-out;
    }
    .Cart:hover{
    
      transform: scale(1.25);
    }
    .product-card:hover .Cart{
      opacity: 1;
      visibility: visible;
     
    }
    .product-desc-div{
     display: block;
     justify-content: space-between;
      
    }
    
  
  
  
nav span {
    color: #fff;
    font-size: 20px;
  }
  
  .sidebar,.menu-1{
  overflow-y: scroll;overflow-x: hidden; -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .mycart-header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-top: 8px;
    min-width: 250px;
  }
  .mycart-label{
    font-weight: 550;
    padding-left: 10px;
    font-size: 18px;
  }
  
  
  
  
  
  
  .footer-div{
 
    margin-top:0px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-flow:row nowrap; 
    background-color:whitesmoke;
    
    }
    .first-column,.second-column,.third-column,.fourth-column,.fifth-column{
    display: flex;
    flex-flow: column nowrap;
    margin: 2px;
    color:black;
    
    
    
    }
    
    .first-column p,.second-column p,.third-column p,.fourth-column p,.fifth-column p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
    font-size: 14px;
    margin-bottom: -8px;
    
    transition:all 0.3s ease;
    }
    .first-column p:hover,.second-column p:hover,.third-column p:hover,.fourth-column p:hover{
    
    color: #333;
    padding-left: 8px;
    }
    .first-column b,.second-column b,.third-column b,.fourth-column b,.fifth-column b{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    font-size: 22px;
    
    margin-bottom: 8px;
    
    
    
    
    }
    
    
    .social-icons a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    }
    
    
    .social-icons a:hover{
    color:#222222c6;
    }
    footer{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 13px;
        font-weight: 520;
        width: 100%;
        }
        .legal-group{
        background-color: black;
        color: whitesmoke;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 13px;
        font-weight: 520;
        
        }
        #cookie{
        padding-right: 10px;
        
        
        }
        #terms{
        padding-right: 10px;
        
        
        }
        #privacy{
        
        
        
        
        }
        
        

#membership-text{
    margin-top: 42px;
    margin-left: 42px;
  }
  .membership{
    margin-top: -18px;
    height: 150px;
    background-color: white;
    border-bottom: whitesmoke solid 2px;
    Color:black;
    display: flex;
    justify-content: space-around;
    font-size: 32px;
   
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Shadow only at the bottom */
  }
  .membership-logos{
    margin-left:-20px;
    margin-top: 40px;
  }
  .Create-now-button {
   margin-left: 40px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: white;
    padding: 10px 20px;
    border: 2px solid black;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
  box-shadow:3px 3px #333;
  transition: background-color 0.2s, color 0.3s; /* Smooth transitions */
  
  }
  
  .Create-now-button:hover {
  background-color: black;
  color:white;
  box-shadow: none;
  
  }
  #Kobe-logo{
    width: 130px;
    height:70px;
  
  }
  #Jordan-logo{
    margin-left:-10px;
  
  }
  
  .options a {
    margin: 0 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 520;
    letter-spacing: 2px;
    color: black;
  }
  .top-text {
    color: white;
    font-size: 11px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 520;
    letter-spacing: 2px;
  }
  nav {
    background-color: whitesmoke;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
  }
  
  .nav-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Adjust the max width as needed */
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .logos {
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .img-logo {
    width: 50px;
    height: 50px;
    object-fit: scale-down;
    margin: 0 10px;
  }
  
  #nikelogo {
    margin-top: 7px;
  }
  
  #adidaslogo {
    height: 40px;
    width: 40px;
    margin-top: 0px;
  }
  
  .options {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  

  
  .search-buttons {
    display: flex;
    align-items: center;
    
  }
  
  .search{
  --padding:14px;
  width:max-content;
  width: fixed;
  display: flex;
  align-items: center;
  padding:var(--padding);
  border-radius: 18px;
  background-color: black;
   height: 5px;
   transition: box-shadow 0.25s;
  
  }
  .search:focus-within{
  box-shadow: 0 0 10px rgba(0,0, 0, 0.75) ;
  
  }
  .search-input{
  font-size: 12px;
  font-family: 'Lexend',sans-serif;
  color: #333;
  margin-left: 2px;
  background: transparent;
  border:none;
  outline: none;
  width: 150px;
  
  }
  .search-input:focus-within{
  color :white;
  }
  .search-input::placeholder,
  .search-icon{
  border:none;
  color:white;
  
  }
  .nav-button {
   
  background-color: black;
    color:white;
  border: none;
  
  
  width: 30px;
  height: 30px;
    
    margin-left: 10px;
    border-radius: 400px;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .nav-button:hover { 
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
   
   
   
  
  }
  main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.main-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: left;
    padding: 20px;
    margin-top: 50px;
    margin-left:50px;

}

.shop-now-button {
   
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: black;
        background-color: white;
        padding: 10px 20px;
        border: 2px solid black;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease;
}
    
    
#shop-now-link{
    color: black;
}

.shop-now-button:hover {
  background-color: whitesmoke;
}
.shop-now-button a:link{
    text-decoration: none;
   color: black;
    
}

.shop-now-button a:hover{
    text-decoration: none;
   color: black;
    
}
#mainmenu{
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
#sub-menu{
    
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: normal;
        color: white;
   
    
}

.policy-text{
    font-weight:100;
    color: #3e3c3cfe;
  font-size: 13px;
  }
 
  .terms-text{
    font-weight:100;
    color: #3e3c3cfe;
  font-size: 13px;
  }
  .cookies-text{
    font-weight:100;
    color: #3e3c3cfe;
  font-size: 13px;
  }
  main{
    background-image: url('Snapinsta.app_437073929_18401237263068675_3839619669892566645_n_1080.jpg');
    background-size: cover; /* This makes the image cover the entire background */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    background-attachment:local; /* This makes the background image fixed, so it doesn't scroll with the page */
    background-position: center; /* This centers the background image */
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}




.container {
  background-color: white;
  padding: 20px;
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #ccc; /* Add this line for the border */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  margin-left: 100px;
  margin-top: 70px;
}




h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    margin-top: 20px;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
   
    border-bottom: 2px solid transparent;
   
}

.tab.active {
      font-weight: bold;
    border-bottom: 2px solid black;
}


.input-group{
    
    margin-bottom: 20px;
    position: relative;
}

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: block;
    margin-bottom: 5px;
    color:black;
}

input[type="date"],
input[type="tel"],
.nameText,
input[type="email"],
input[type="password"] {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    width: 400px;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 0px;
}

.form{
    width: 500px;
    margin: 0 auto;
 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:white;
  }
  .form-item{
    position: relative;
    margin-bottom: 15px
  }
  .form-item input{
    display: block;
 
    width: 400px;
    height: 40px;
    background: transparent;
    border: solid 1px black;
    transition: all .3s ease;
    padding: 0 15px
  }
  .form-item input:focus{
    border-color: blue
  }
  .form-item label{
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 10px;
    font-size: 12px;
    font-weight: bold;
    background: #fff;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease;
  }
  .form-item input:focus + label,
  .form-item input:valid + label{
    font-size: 11px;
    top: -5px;
 

  }
  .form-item input:focus + label{
    color: blueviolet;
 
  }
.show-password {
    padding-bottom: 30px;
  
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1px;
    color: black;
}
.forgot-password {
  display: block;
  text-align: right;
  margin-bottom: 20px;
  font-size: 12px;
  color: black;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.forgot-password:hover {
  text-decoration: underline;
}

  
  .checkBoxInfo {
    display: flex;
    justify-content:flex-start;
    margin-left: 10px; /* Add space between label and checkboxes */
    margin-top:20px;
  }
  #maleLab{
    margin-right: 100px;
  }
  .checkBox {
    /* Hide the default checkbox */
    display: none;
  }
  
  /* Style the custom checkbox */
  .checkBox + label:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px; /* Set the width and height of the checkbox */
    height: 20px;
    background-color: #fff;
    border: 2px solid #333; /* Border color */
    margin-right: 5px; /* Space between checkbox and label */
  }
  
  /* Style the custom checkbox when it's checked */
  .checkBox:checked + label:before {
    background-color:black;
  }
  
  /* Hide the default checkbox and use a custom style */
  .checkBox:checked + label:after {
    content: ""; /* Checkmark symbol */
    
    color: #fff; /* Color of the checkmark */
    font-size: 12px; /* Size of the checkmark */
   
  }
  
  /* Style the label text */
  .label-text {
    font-size: 16px;
  }
  

/* CSS */
.login-button {
    width: 400px;
   
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
 
  box-shadow: #fff 3px 3px 0 0,#000 3px 3px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: left;
  padding-left: 20px;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.login-button:focus {
  text-decoration: none;
}

.login-button:hover {
  text-decoration: none;
}

.login-button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.login-button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}


/* WebKit Browsers */
.container::-webkit-scrollbar {
  width: 6px;
 
}

.container::-webkit-scrollbar-track {
  background:white;
  border-radius: 3px;
}

.container::-webkit-scrollbar-thumb {
  background:black;

  border-radius: 3px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.checkbox-wrapper-30 {
  height: 37px;
  
}

.checkbox-wrapper-30 .checkbox {
  
  --bg: transparent;
  border: 4px;
  --brdr: rgba(0, 0, 0, 1);
  --brdr-actv: #8f44fd;
  --brdr-hovr: #333;
  --dur: calc((var(--size, 2) / 2) * 0.6s);
  display: inline-block;
  width: 23px; /* Set the width and height of the checkbox */
    height: 23px;
    border: 1px solid #333; /* Border color */
  position: relative;
}
.checkbox-wrapper-30 .checkbox:after {
  content: "";
  width: 100%;
  padding-top: 100%;
  display: block;
  
}
.checkbox-wrapper-30 .checkbox > * {
  position: absolute;
}
.checkbox-wrapper-30 .checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-color: var(--bg);
  border-radius: 0px;
  border: calc(var(--newBrdr, var(--size, 1.4)) * 1px) solid;
  color: var(--newBrdrClr, var(--brdr));
  outline: none;
  margin: 0;
  padding: 0;
  transition: all calc(var(--dur) / 3) linear;
  
}
.checkbox-wrapper-30 .checkbox input:hover,
.checkbox-wrapper-30 .checkbox input:checked {
  --newBrdr: calc(var(--size, 1) * 2);
  
}
.checkbox-wrapper-30 .checkbox input:hover {
  --newBrdrClr: var(--brdr-hovr);
}
.checkbox-wrapper-30 .checkbox input:checked {
  --newBrdrClr: black;/*--border li bi dawe!*/
  
  transition-delay: calc(var(--dur) / 1.3);
}
.checkbox-wrapper-30 .checkbox input:checked + svg {
  --dashArray: 16 93;
  --dashOffset: 109;
  
}
.checkbox-wrapper-30 .checkbox svg {
  --stroke: black; /* Set the stroke color to black */
  fill: none;
  left: 0;
  pointer-events: none;
  stroke: var(--stroke);
  stroke-dasharray: var(--dashArray, 93);
  stroke-dashoffset: var(--dashOffset, 94);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  top: 0;
  transition: stroke-dasharray var(--dur), stroke-dashoffset var(--dur);
}



.checkbox-wrapper-30 .checkbox svg,
.checkbox-wrapper-30 .checkbox input {
  display: block;
  height: 100%;
  width: 100%;
}

